.container {
    height: 54px;
    margin-top: -27px;
    display: flex;
    justify-content: space-between;
}

.input {
    height: 100%;
    width: 640px;
    background: var(--gray-500);
    border-color: var(--gray-700);
    border-radius: 8px;
    padding-left: 20px;
    outline: none;
}

.button {
    height: 100%;
    width: 90px;
    background-color: var(--blue-dark);
    border-radius: 8px;
    border: 0;
}

.button:hover{
    background-color: var(--blue);
}
