.container {
    width: 740px;
}

/* new task */
.newTask {
    height: 54px;
    margin-top: -27px;
    display: flex;
    justify-content: space-between;
}

.input {
    height: 100%;
    width: 640px;
    background: var(--gray-500);
    border-color: var(--gray-700);
    border-radius: 8px;
    padding-left: 20px;
    outline: none;
}

.button {
    height: 100%;
    width: 90px;
    background-color: var(--blue-dark);
    border-radius: 8px;
    border: 0;
}

.button:hover{
    background-color: var(--blue);
}

/* tasks */
.tasks {
    color: var(--gray-300);
    margin-top: 90px;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.primary {
    color: var(--blue);
}

.secondary {
    color: var(--purple);
}

.count {
    background-color: var(--gray-400);
    color: var(--gray-200);
    padding: 2px 8px ;
    border-radius: 8px;
    margin-left: 10px;
    font-size: .9rem;
}